<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}?u={{ last_updated }}" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script src="{{ url_for('static',filename='js/base.js') }}?u={{ last_updated }}"></script>
    <meta charset="UTF-8">
    <meta name="keywords"
        content="PDF to flashcards, convert PDF to flashcards, Q&A flashcards, PDF files, flashcard generator, study tool, educational flashcards, online flashcard maker">
    <meta name="description" content="Effortlessly convert PDF files to flashcards.">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow">
    <title>PDF2Flashcards</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav id="base-navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/results">Scanned PDFs</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>