<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}?u={{ last_updated }}" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script src="{{ url_for('static',filename='js/base.js') }}?u={{ last_updated }}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8533389826717477"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="keywords"
        content="PDF to flashcards, convert PDF to flashcards, Q&A flashcards, PDF files, flashcard generator, study tool, educational flashcards, online flashcard maker">
    <meta name="description"
        content="Effortlessly convert PDF files to flashcards, quizzes, keyword-definition pairs, and more.">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow">
    <title>PDF2Flashcards</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav id="base-navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/results">Scanned PDFs</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
        {% if session.logged_in %}
        <ul>
            <li><a href="/profile">Profile</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
        {% endif %}
    </nav>
    {% block body %}{% endblock %}
</body>

</html>