{% extends 'base.html' %}
{% block head %}
{% endblock %} {% block body %}
<div id="toc-container">
    <p class="toc-title">Table of Contents</p>
    <ul class="toc-list">
        <li><a href="#help-faq">Frequently Asked Questions</a></li>
        <li><a href="#help-discord">Join Discord</a></li>
        <li><a href="#tba">TBA</a></li>
    </ul>
</div>
<div id="help-faq">
    <h3>Frequently Asked Questions:</h3>
</div>

<div id="help-discord">
    <h3>Join Our Discord:</h3>
</div>
{% endblock %}