{% extends 'base.html' %}
{% block head %}
{% endblock %} {% block body %}
<div id="toc-container">
    <p class="toc-title">Table of Contents</p>
    <ul class="toc-list">
        <li><a href="#help-faq">Frequently Asked Questions</a></li>
        <li><a href="#help-discord">Join Discord</a></li>
        <li><a href="#tba">TBA</a></li>
    </ul>
</div>
<div id="help-faq">
    <h3>Frequently Asked Questions:</h3>
    <p>Q: What types of files can I upload?<br>A: Currently only PDF files.</p>
    <p>Q: What can I generate?<br>A: You can generate flashcards, keyword/definition pairs, and test/quiz questions.</p>
    <p>Q: What are the export options?<br>A: Currently disabled, but in the future you can export to PDF and Excel.</p>
</div>

<div id="help-discord">
    <h3>Join Our Discord:</h3>
    <section>
        <a href="https://discord.gg/Ehfe2SWZkQ" style=" text-decoration: none; color: #7289da; font-weight: bold; padding: 8px 16px; border: 2px solid
            #7289da; border-radius: 4px; background-color: #fff;">Join
            Our Discord Server!</a>
    </section>
</div>
{% endblock %}