{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}

<div id="help-faq">
    <h1>Frequently Asked Questions:</h1>
    <div>
        <p>Q: What types of files can I upload?<br>A: Currently only PDF & PPTX files.</p>
        <p>Q: What can I generate?<br>A: You can generate flashcards, keyword/definition pairs, and test/quiz questions.
        </p>
        <p>Q: What are the export options?<br>A: Currently only flashcards can be exported to a new printable PDF.</p>
        <p>Q: Do you store credit card information?<br>A: <b>NO</b>, all payment information is stored by <a
                style="color: var(--gradient-5);" href="https://stripe.com/">stripe</a>.</p>
        <p>Q: Will I be charged if I re-convert the same document?<br>A: If you selected the same conversion type, you
            won't be
            charged.</p>
        <p>Q: Do you have returns?<br>A: Absolutely. If you have any issues, email us at {{ support_email }}, or join
            the
            discord.</p>
    </div>
</div>

<div id="help-discord">
    <h3>Join Our Discord:</h3>
    <section>
        <a href="#help-discord" class="button-1" style="width: 300px;">Join
            Our Discord Server!</a>
    </section>
</div>
{% endblock %}