{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static',filename='js/index.js') }}?u={{ last_updated }}"></script>
<!-- <script src="{{ url_for('static',filename='js/index_fluff.js') }}?u={{ last_updated }}"></script> -->
{% endblock %} {% block body %}
<div class="center-horizontally center-inside-elems">
    <h1>PDF to Test Questions</h1>
    <h2>Generate questions and answers from a PDF file.</h2>
</div>
<div class="upload-area center-horizontally center-inside-elems" ondrop="dropHandler(event);"
    ondragover="dragOverHandler(event);">
    <div class="center-inside-elems">
        <form method="post" enctype="multipart/form-data">
            <label class="button-1" for="file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Files
            </label>
            <input id="file-upload" type="file" name="file" accept="application/pdf" onchange="upload_files()"
                multiple></input>
        </form>

        <p>Max upload limit is 1Mb, <a href="/register">Sign up</a> for more</p>
        <div class="convert-region center-inside-elems">
            <ul>
            </ul>
            <button class="file-convert-btn button-1" style="display: none;" onclick="convert_files()">Convert
                Files</button>
        </div>
    </div>
</div>
<!-- Temporary DB values test: 
<ul style="display: none;">
    {% for item in rec %}
    <li>DB Test: {{ item }}</li>
    {% endfor %}
</ul>
-->
{% endblock %}