body {
  /*background-color:white;*/
  background: radial-gradient(circle, #ffffff, rgba(112, 24, 255, 0.116));
  font-family: "Dejavu Sans", Arial, Verdana, sans-serif;
}

li p {
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between; /* To evenly distribute the items horizontally */
  background-color: rgba(112, 24, 255, 0.116);
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Make the <ul> a flex container */
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(22, 22, 58);
}

/* Add hover effect for links */
nav a:hover {
  text-decoration: underline;
}

#status-div {
  padding-top: 10px;
}

#toc-container {
  margin-top: 10px;
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
}

#toc-container li, #toc-container ul, #toc-container ul li{
  list-style: outside none none !important;
  padding: 0;
}

.toc-title {
  font-weight: 700;
  text-align: center;
}

.center-horizontally {
  margin: auto;
  width: 50%;
}

.center-inside-elems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qa-sets {
  border: 1px solid #8377b9;
  padding-left: 5px;
}

.upload-area {
  padding: 4px;
  background-color: #3c4fe05d;
  width: 650px; /* Set your desired width */
  min-height: 250px;
  border: 3px dashed #8377b9; /* Optional: Add a dashed border for visual style */
}

#converting-files-list {
  padding-left: 0;
  list-style-type: none;
}

#converting-files-list li {
  padding: 6px;
}

#converting-files-list li b {
  padding-left: 6px;
}

input[type="file"] {
  display: none;
}

input[type="submit"] {
  display: none;
}

.button-1-disabled {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #a9aeaf 0,
    #646666 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #c7c4c4;
  cursor: wait;
  display: inline-flex;
  /*font-family: "JetBrains Mono",monospace;*/
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 150px;  
}

.button-1 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  /*font-family: "JetBrains Mono",monospace;*/
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  width: 150px;
}

.button-1:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-1:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.loader {
  width: 32px;
  height: 32px;
  margin: auto;
  vertical-align: middle;
  border: 5px solid #fff;
  border-bottom-color: #3c4fe0;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sentence-box p {
  max-width: 350;
  word-break: break-all;
  overflow-wrap: break-word;
}

/* CSS Typing */
.css-typing p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

.css-typing p:nth-child(1) {
  width: 7.3em;
  animation: typing 2s steps(40, end);
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  animation: typing2 2s steps(40, end);
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.checkmark-done {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing2 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  from {
    width: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
