{% extends 'base.html' %}
{% block head %}
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %} {% block body %}
<div class="center-horizontally center-inside-elems">
    <h1>PDF to Test Questions</h1>
    <h2>Generate questions and answers from a PDF file.</h2>
</div>
<div class="upload-area center-horizontally center-inside-elems">
    <form method="post" enctype="multipart/form-data">

        <div class="center-inside-elems">
            <label class="button-1" for="file-upload">
                <i class="fa fa-cloud-upload"></i> Upload File
            </label>
            <input id="file-upload" type="file" name="file" accept="application/pdf" multiple></input>
            <!-- <input type=submit value=Upload> -->
            <p>Max upload limit is 10MB, Sign up for more</p>
            <div class="convert-region center-inside-elems">
                <ul>
                </ul>
                <label class="file-convert-btn button-1" for="file-convert" style="display: none;">
                    <i class="fa fa-cloud-upload"></i> Convert Files
                </label>
                <input id="file-convert" , type="submit" value="Upload"></input>
            </div>
        </div>
    </form>


</div>
<!-- Temporary DB values test: -->
<ul style="display: none;">
    {% for item in rec %}
    <li>DB Test: {{ item }}</li>
    {% endfor %}
</ul>

{% endblock %}